<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <httpRequestBegin>
                <processor type="XCHorizon.Foundation.SitecoreExtensions.Pipelines.HttpRequest.WildcardItemResolver, XCHorizon.Foundation.SitecoreExtensions" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']"/>
            </httpRequestBegin>
            <mvc.getPageItem>
                <processor type="Sitecore.Mvc.Pipelines.Response.GetPageItem.GetFromRouteValue, Sitecore.Mvc">
                    <patch:attribute name="type">
                        XCHorizon.Foundation.SitecoreExtensions.Pipelines.Mvc.GetPageItem.GetFromRouteUrl, XCHorizon.Foundation.SitecoreExtensions
                    </patch:attribute>
                </processor>
            </mvc.getPageItem>
            <mvc.getRenderer>
                <processor type="XCHorizon.Foundation.SitecoreExtensions.Pipelines.Mvc.GetRenderer.WildCardDataSource, XCHorizon.Foundation.SitecoreExtensions" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Response.GetRenderer.GetViewRenderer, Sitecore.Mvc']">
                    <renderingname>MainMenu</renderingname>
                </processor>
            </mvc.getRenderer>
        </pipelines>
        <linkManager>
            <providers>
                <add name="sitecore">
                    <patch:attribute name="type">
                        XCHorizon.Foundation.SitecoreExtensions.Providers.LinkProvider, XCHorizon.Foundation.SitecoreExtensions
                    </patch:attribute>
                    <patch:attribute name="languageEmbedding">
                        never
                    </patch:attribute>
                </add>
            </providers>
        </linkManager>
    </sitecore>
</configuration>