@using Sitecore
@using XCHorizon.Foundation.SitecoreExtensions.Extensions
@using XCHorizon.Feature.Navigation
@model Sitecore.Data.Items.Item
@{
    Layout = null;
}

<!-- Image and text -->
<nav class="navbar navbar-dark bg-light">
    <a class="navbar-brand" href="#">
        @Html.Sitecore().ImageField(Templates.Site.Fields.Logo_FieldName, Model , mw: 150, cssClass: "img-responsive")
    </a>
</nav>

<div class="content">
    <h2>@Html.Sitecore().Field("Title")</h2>
</div>